/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-around;
    color: aliceblue;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff6600;
}

main {
    padding: 20px;
}

/* Ana Sayfa Stili */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

/* Ürünler Sayfa Stili */
.slider {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Fotoğraflar arası boşluk */
}

.slider-item {
    text-align: center;
    flex: 1 0 calc(25% - 25px); /* Bir satırda üç fotoğraf, aralarında 25px boşluk */
    padding: 20px;
}

.slider img {
    border: 2px solid #ddd; /* Çerçeve eklemek için kenarlık */
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Hafif bir gölge ekler */
}


/* Footer'ı Sabit Tutma */
footer {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff;
    text-align: center;
    padding: 5px 0;
}


.social-media {
    text-align: center;
}

.social-media a {
    font-size: 36px; /* Ikon boyutu */
    color: #f2f2f2; /* Ikon rengi */
    margin-right: 10px; /* Ikonlar arasındaki boşluk */
    text-decoration: none; /* Bağlantı alt çizgisi kaldırma */
}

.social-media a:hover {
    color: #ff6600; /* İkon rengini hover durumunda değiştirme */
}

h2 {
    color: #082f59;
}

.product-name {
    display: block;
    font-size: 16px; /* Ürün adı font boyutu */
    margin: 5px; /* Ürün adı ile resim arasındaki boşluk */
}
